// Variables
/*$bodyfont:'Montserrat', sans-serif;*/
/*$headingfont:'Montserrat', sans-serif;*/
$bodyfont:'Montserrat', sans-serif;
$headingfont:'Montserrat', sans-serif;


/* Theme Globals */
$globalPrimaryColor: #35495E;
$globalHighlightColor: #dd9239;
$globalHeadColor:#9A9A9A;
$globalHeadBgColor:#FFF;
$globalTableHeaderColor: rgba(41, 84, 132, 0.49);